body {
    color: #444;
    font-family: 'Gentium Book Basic', serif;
    width: 1024px;
    margin: auto;
}

h1 {
    border-bottom: 1px solid #666;
}

#test_bubbles {

    text-align: center;
}

.bubble circle {
    cursor: pointer;
}

.bubble circle.success {
    fill: green;
}

.bubble circle.errored {
    fill: red;
}

.tooltip {
    position: absolute;
    background: #fff;
    border-radius: 20px;
    padding: 5px 15px;
    box-shadow: 1px 1px 3px;
}

footer {
    text-align: center;
    color: #666;
}

#back {
    position: relative;
    top: -48px;
}

#back_link {
    display: none;
}
